@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f4f6;
}

.slide-container {
  position: relative;
  width: 103%;
  height: 450px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  margin-top: -33px;
  margin-left: -20px;
  margin-right: -100px;
}

.slide-container .slides {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}

.slide-container .slides img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-container .slides img:not(.active) {
  top: 0;
  left: -100%;
}

span.next,
span.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 9;
}

span.next {
  right: 20px;
}

span.prev {
  left: 20px;
}

span.next:hover,
span.prev:hover {
  background-color: #ede6d6;
}

.slide-container {
  position: relative;
}

h1#eventosText {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

h1#imagensText {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

.gallery-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card-container > div {
  transition: transform 0.3s ease-in-out;
}

.card-container > div:hover {
  transform: scale(1.15);
}

.card {
  flex: 1 0 200px;
  margin: 0 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card h1 {
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.card-image img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.gallery2-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
.gallery2-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  display: none;
}
.gallery2-item {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 300px; /* Limit max width for larger screens */
  margin-right: 10px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .card {
    flex: 1 0 100%;
  }
}

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
