<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="max-w-5xl mx-auto mt-8 p-8">
      <div id="eventDetails">
        <div class="flex gap-5">
          <img
            alt="Event Image"
            id="eventImage"
            class="w-60 aspect-square rounded-lg shadow-m object-cover"
          />
          <span>
            <h1 class="text-xs" id="eventDate"></h1>
            <h1 class="text-xl font-bold mb-4" id="eventTitle"></h1>
            <p class="max-w-[400px]" id="eventSubtitle"></p>
          </span>
        </div>
        <div class="mb-4"></div>
        <p class="text-base" id="eventDescription"></p>
      </div>

      <!-- OUTROS EVENTOS -->
      <p class="text-xl font-bold mt-16 mb-6">Outros Eventos</p>
      <div
        id="otherEventsContainer"
        class="grid gap-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1"
      ></div>

      <!-- Back Arrow Icon -->
      <div class="absolute top-16 left-16 hover:scale-105">
        <a
          href="/View/index.html"
          id="backButton"
          class="flex justify-center w-8 h-8 bg-[#eee] rounded-full text-black text-xl block mt-4"
          >&larr;</a
        >
      </div>
    </main>

    <script type="module" src="../../Controller/user/events.js"></script>
  </body>
</html>
