<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSIW hub</title>
    <link rel="stylesheet" href="./userCSS/events.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <a href="../user/projects.html" id="back-arrow">←</a>
    <!-- NAVIGATION -->
    <div id="navbar"></div>
    <!-- BODY -->
    <div class="info">
      <div class="section">
        <div class="imageContainer">
          <div id="project1Image"><img class="object-cover"></div>
        </div>
        <div class="textContainer">
          <h3></h3>
          <h1 id="project1Title"></h1>
          <p id="project1Subtitle"></p>
        </div>
      </div>

      <div class="lowerTextContainer">
        <p id="project1TextBox1"></p>
      </div>
      <!--VIDEO-->
      <div class="video-container">
        <iframe id="project1YoutubeVideo" src="" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      </div>
    </div>

    <div class="card-container">
      <div class="card" data-href="./projects2.html">
        <h1 id="project2Title"></h1>
        <div id="project2Image"><img alt=""></div>
      </div>
      <div class="card" data-href="./projects3.html">
        <h1 id="project3Title"></h1>
        <div id="project3Image"><img alt=""></div>
      </div>
    </div>

  </div>
    <!-- FAB -->
    <div id="FABDiv"></div>
    <!-- FOOTER -->
    <div id="FooterDiv"></div>

    <script src="/components/FAB.js"></script>
    <script src="/components/Footer.js"></script>
    <script src="/components/Navbar.js"></script>

    <!-- SELECTED INDEX -->
    <script>
      const selectedItem = "Projects";
      const navbarHTML = createNavbar(selectedItem);
      document.getElementById("navbar").innerHTML = navbarHTML;
    </script>
    <!--  -->
    <script src="/Controller/user/navbar.js"></script>
    <script type="module" src="/Utils/logout.js"></script>




    <script>
      function toggleSubjectBox(id) {
        const subjectBox = document.getElementById(id);
        subjectBox.classList.toggle('hidden');
      }
    </script>


  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var cards = document.querySelectorAll('.card');

      cards.forEach(function(card) {
          card.addEventListener('click', function() {
              window.location.href = this.getAttribute('data-href');
          });
      });
    });
  </script>
  <script src="../../Controller/user/projects/projects-dynamic.js"></script>
</html>
