<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSIW hub</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- NAVIGATION -->
    <div id="navbar"></div>
    <!-- BODY -->
    <main class="flex justify-center">
      <div class="my-24 m-8 mb-32 lg:mb-24 grid grid-cols-3 gap-5 max-w-7xl">
        <!-- User Profile -->
        <div
          class="flex gap-5 items-center bg-gray-100 shadow-md p-6 lg:p-8 rounded-lg h-max col-span-3 lg:col-span-1"
        >
          <img
            id="pfp"
            class="rounded-full w-28 aspect-square object-cover shadow-sm border"
            src="https://placehold.co/112"
            alt="profile picture"
          />
          <div class="flex flex-col gap-1">
            <p id="usernameText" class="font-medium text-lg"></p>
            <label
              for="fileInput"
              class="inline-block px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white cursor-pointer transition duration-300 ease-in-out"
            >
              Mudar Foto
            </label>
            <input type="file" id="fileInput" class="hidden" accept="image/*" />
          </div>
        </div>
        <!-- Content -->
        <div class="col-span-3 lg:col-span-2">
          <!-- GENERAL INFO -->
          <div class="bg-gray-100 shadow-md p-6 lg:p-8 rounded-lg">
            <h5 class="text-xl font-medium text-gray-900">Informação Geral</h5>
            <form action="">
              <div class="flex flex-wrap gap-4 mt-5">
                <div class="w-96">
                  <label
                    for="name"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Primeiro Nome</label
                  >
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="Nome"
                    required
                  />
                </div>
                <div class="w-96">
                  <label
                    for="surname"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Sobrenome</label
                  >
                  <input
                    type="text"
                    name="surname"
                    id="surname"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="sobrenome"
                    required
                  />
                </div>
                <div class="w-96">
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Email</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="nome@email.com"
                    required
                  />
                </div>
              </div>
              <button
                id="saveInfo"
                class="mt-6 px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition"
              >
                Atualizar
              </button>
            </form>
          </div>
          <!-- GENERAL INFO -->
          <div class="bg-gray-100 shadow-md p-6 lg:p-8 rounded-lg mt-5">
            <h5 class="text-xl font-medium text-gray-900">Palavra-passe</h5>
            <form action="">
              <div class="flex flex-wrap gap-4 mt-5">
                <div class="w-96">
                  <label
                    for="current"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Palavra-passe Atual</label
                  >
                  <input
                    type="password"
                    name="current"
                    id="currentPass"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="********"
                    required
                  />
                  <div id="passError" class="text-red-500 text-xs hidden">
                    Palavra-passe Inválida
                  </div>
                </div>
                <div class="w-96">
                  <label
                    for="new"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Nova palavra-passe</label
                  >
                  <input
                    type="password"
                    name="new"
                    id="newPass"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="********"
                    required
                  />
                  <div id="passDontMatch" class="text-red-500 text-xs hidden">
                    Palavras-passe não coincidem
                  </div>
                  <div id="shortPass" class="text-red-500 text-xs hidden">
                    Palavras-passe devem ter no mínimo 6 digitos
                  </div>
                </div>
                <div class="w-96">
                  <label
                    for="confPass"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Confirmar nova palavra-passe</label
                  >
                  <input
                    type="password"
                    name="confPass"
                    id="confPass"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="********"
                    required
                  />
                </div>
              </div>
              <button
                id="savePass"
                class="mt-6 px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition"
              >
                Atualizar
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- PASSWORD CHANGED WITH SUCCESS -->
      <div
        id="pass-success"
        class="fixed hidden z-50 bottom-20 left-0 flex items-center justify-center"
      >
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-lg shadow-lg border">
            <div class="p-4 text-center">
              <h3 class="text-lg font-normal text-gray-500">
                Palavra-passe mudada com sucesso
              </h3>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- FAB -->
    <div id="FABDiv"></div>
    <!-- FOOTER -->
    <div id="FooterDiv"></div>

    <script src="/components/FAB.js"></script>
    <script src="/components/Footer.js"></script>
    <script src="/components/Navbar.js"></script>
    <!-- SELECTED INDEX -->
    <script>
      const selectedItem = "Definições";
      const navbarHTML = createNavbar(selectedItem);
      document.getElementById("navbar").innerHTML = navbarHTML;
    </script>
    <!--  -->
    <script src="/Controller/user/navbar.js"></script>
    <script src="/Controller/user/settings.js"></script>
    <script type="module" src="/Utils/logout.js"></script>
  </body>
</html>
