<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Study Plans</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- MOBILE MENU -->
    <button
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
      </svg>
    </button>

    <!-- MENU -->
    <aside
      id="default-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
        <ul class="space-y-2 font-medium">
          <li>
            <a
              href="/View/index-admin.html"
              class="flex items-center p-2 text-gray-900 hover:bg-gray-100 rounded-lg group"
            >
              <span class="ms-3">Presentation</span>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center p-2 text-white rounded-lg bg-violet-600 group"
            >
              <span class="flex-1 ms-3 whitespace-nowrap">Study Plans</span>
            </a>
          </li>
          <li>
            <a
              href="/View/admin/alumni.html"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <span class="flex-1 ms-3 whitespace-nowrap">Alumni</span>
            </a>
          </li>
          <li>
            <a
              href="/View/admin/escapeRoom.html"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <span class="flex-1 ms-3 whitespace-nowrap">Escape Room</span>
            </a>
          </li>
          <li id="logoutButton">
            <a
              href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 16"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"
                />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <!-- BODY -->
    <div class="p-4 sm:ml-64">
      <div class="p-4 border-2 bg-gray-100 rounded-lg">
        <!-- TABLE GROUP -->
        <div class="flex justify-between items-center mb-5 mx-1">
          <p class="font-medium text-lg">UC's</p>
          <button
            id="addToUc"
            class="px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition"
          >
            Add
          </button>
        </div>

        <!-- TABLE -->
        <div class="overflow-x-scroll">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3">UC's</th>
                <th scope="col" class="px-6 py-3">Year</th>
                <th scope="col" class="px-6 py-3">Semester</th>
                <th scope="col" class="px-6 py-3">ECTs</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- BODY COMES FROM JS -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- POP UP ADD -->
    <div
      id="popup"
      class="fixed hidden z-50 inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="relative w-96">
        <img
          id="closePopUp"
          src="/images/icons/close.svg"
          class="absolute top-4 right-4 w-4 h-4 hover:scale-125 transition"
          alt="close"
        />
        <form class="space-y-4 bg-white p-8 rounded-lg" id="popUpForm">
          <h5 class="text-xl font-medium text-gray-900">Create New UC</h5>
          <!-- Input fields -->
          <div>
            <label
              for="ucName"
              class="block mb-2 text-sm font-medium text-gray-900"
              >UC's Name</label
            >
            <input
              type="text"
              name="ucName"
              id="ucName"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
              placeholder="UC's Name"
              required
            />
          </div>
          <div>
            <label
              for="year"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Year</label
            >
            <input
              type="number"
              name="year"
              id="year"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
              placeholder="1, 2, or 3"
              required
            />
          </div>
          <div>
            <label
              for="semester"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Semester</label
            >
            <input
              type="number"
              name="semester"
              id="semester"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
              placeholder="1 or 2"
              required
            />
          </div>
          <div>
            <label
              for="ects"
              class="block mb-2 text-sm font-medium text-gray-900"
              >ECTs Count</label
            >
            <input
              type="number"
              name="ects"
              id="ects"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
              placeholder="ECT Count"
              required
            />
          </div>
          <button
            type="submit"
            class="w-full hover:scale-[1.02] transition text-white bg-violet-600 hover:bg-violet-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Add
          </button>
        </form>
      </div>
    </div>

    <!-- CONFIRM MODAL -->
    <div
      id="popup-confirm"
      class="fixed hidden z-50 inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow">
          <div class="p-4 text-center">
            <h3 class="mb-5 text-lg font-normal text-gray-500">
              Are you sure you want to delete this UC?
            </h3>
            <div class="flex justify-center">
              <button
                id="DoDelete"
                type="button"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 mr-3"
              >
                Yes, I'm sure
              </button>
              <button
                id="DoNotDelete"
                type="button"
                class="text-gray-900 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5"
              >
                No, cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="/Controller/admin/study-plans.js"></script>
    <script type="module" src="/utils/logout.js"></script>
  </body>
</html>
