<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSIW hub</title>
    <!-- Add Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- NAVIGATION -->
    <nav
      class="flex justify-between items-center bg-violet-600 py-4 px-6 fixed top-0 w-dvw"
    >
      <a href="/templates/index.html" class="text-white">
        <img src="/images/logo.svg" alt="logo" width="64" />
      </a>
      <!-- Mobile Menu -->
      <div class="md:hidden">
        <!-- Hamburger menu button for Mobile -->
        <button id="mobileMenuToggle" class="text-white">
          <svg
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
        <!-- Dropdown Menu for Mobile -->
        <div
          id="mobileDropdown"
          class="hidden bg-gray-800 absolute top-[53.6px] left-0 right-0 z-10 py-2"
        >
          <a
            href="/templates/index.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >Presentation</a
          >
          <a
            href="/templates/user/study-plans.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >Study Plans</a
          >
          <a
            href="/templates/user/outings.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >Outings</a
          >

          <a
            href="/templates/user/more-info.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >+Info</a
          >
          <a
            href="/templates/user/alumni.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >Alumni</a
          >
          <a
            href="/templates/user/projects.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >Projects</a
          >
          <a class="block text-white px-4 py-2 bg-violet-900">Settings</a>
          <a
            href="/templates/login.html"
            class="block text-white px-4 py-2 hover:bg-violet-500"
            >Sign Out</a
          >
        </div>
      </div>
      <!-- Desktop Menu -->
      <div class="hidden md:flex gap-2 flex justify-center items-center">
        <a
          href="/templates/index.html"
          class="text-white font-semibold text-sm px-2 py-1 rounded-md hover:bg-violet-700"
          >Presentation</a
        >
        <a
          href="/templates/user/study-plans.html"
          class="text-white font-semibold text-sm px-2 py-1 rounded-md hover:bg-violet-700"
          >Study Plans</a
        >
        <a
          href="/templates/user/outings.html"
          class="text-white font-semibold text-sm px-2 py-1 rounded-md hover:bg-violet-700"
          >Outings</a
        >

        <a
          href="/templates/user/more-info.html"
          class="text-white font-semibold text-sm px-2 py-1 rounded-md hover:bg-violet-700"
          >+Info</a
        >
        <a
          href="/templates/user/alumni.html"
          class="text-white font-semibold text-sm px-2 py-1 rounded-md hover:bg-violet-700"
          >Alumni</a
        >
        <a
          href="/templates/user/projects.html"
          class="text-white font-semibold text-sm px-2 py-1 rounded-md hover:bg-violet-700"
          >Projects</a
        >
        <!-- Avatar and Dropdown -->
        <div class="relative" id="avatarContainer">
          <div
            id="avatarBtn"
            class="w-8 h-8 rounded-full cursor-pointer bg-gray-100 flex items-center justify-center"
          >
            <span
              id="avatarInitials"
              class="font-medium text-gray-600 dark:text-violet-900 select-none pointer-events-none"
            ></span>
          </div>
          <!-- User Dropdown Menu -->
          <div
            id="avatarDropdown"
            class="hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 absolute top-12 right-0 mt-2 dark:bg-gray-700 dark:divide-gray-600"
          >
            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
              <div class="font-medium truncate" id="avatarFullName"></div>
              <div id="avatarEmail"></div>
            </div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
              <li>
                <a
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Settings</a
                >
              </li>
            </ul>
            <div class="py-1">
              <a
                href="/templates/login.html"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Sign out</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- BODY -->
    <main class="flex justify-center">
      <div class="my-24 m-8 mb-32 lg:mb-24 grid grid-cols-3 gap-5 max-w-7xl">
        <!-- User Profile -->
        <div
          class="flex gap-5 items-center bg-gray-100 shadow-md p-6 lg:p-8 rounded-lg h-max col-span-3 lg:col-span-1"
        >
          <img
            id="pfp"
            class="rounded-full w-28 aspect-square object-cover"
            src="https://placehold.co/112"
            alt="profile picture"
          />
          <div class="flex flex-col gap-1">
            <p id="usernameText" class="font-medium text-lg"></p>
            <label
              for="fileInput"
              class="inline-block px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white cursor-pointer transition duration-300 ease-in-out"
            >
              Change Picture
            </label>
            <input type="file" id="fileInput" class="hidden" accept="image/*" />
          </div>
        </div>
        <!-- Content -->
        <div class="col-span-3 lg:col-span-2">
          <!-- GENERAL INFO -->
          <div class="bg-gray-100 shadow-md p-6 lg:p-8 rounded-lg">
            <h5 class="text-xl font-medium text-gray-900">General Info</h5>
            <form action="">
              <div class="flex flex-wrap gap-4 mt-5">
                <div class="w-96">
                  <label
                    for="name"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >First Name</label
                  >
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="First Name"
                    required
                  />
                </div>
                <div class="w-96">
                  <label
                    for="surname"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    name="surname"
                    id="surname"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="Last Name"
                    required
                  />
                </div>
                <div class="w-96">
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Email</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="name@email.com"
                    required
                  />
                </div>
              </div>
              <button
                id="saveInfo"
                class="mt-6 px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition"
              >
                Save
              </button>
            </form>
          </div>
          <!-- GENERAL INFO -->
          <div class="bg-gray-100 shadow-md p-6 lg:p-8 rounded-lg mt-5">
            <h5 class="text-xl font-medium text-gray-900">
              Password Information
            </h5>
            <form action="">
              <div class="flex flex-wrap gap-4 mt-5">
                <div class="w-96">
                  <label
                    for="current"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Current Password</label
                  >
                  <input
                    type="password"
                    name="current"
                    id="currentPass"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="Current Password"
                    required
                  />
                </div>
                <div class="w-96">
                  <label
                    for="new"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >New Password</label
                  >
                  <input
                    type="password"
                    name="new"
                    id="newPass"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="Password"
                    required
                  />
                </div>
                <div class="w-96">
                  <label
                    for="confPass"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Confirm New Password</label
                  >
                  <input
                    type="password"
                    name="confPass"
                    id="pass"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-600 focus:border-violet-600 block w-full p-2.5"
                    placeholder="Password"
                    required
                  />
                </div>
              </div>
              <button
                id="savePass"
                class="mt-6 px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition"
              >
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- FAB -->
    <div id="FABDiv"></div>
    <!-- FOOTER -->
    <div id="FooterDiv"></div>

    <script src="/components/FAB.js"></script>
    <script src="/components/Footer.js"></script>
    <script src="/js/user/navbar.js"></script>
    <script src="/js/user/settings.js"></script>
  </body>
</html>
