<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSIW hub</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- NAVIGATION -->
    <div id="navbar"></div>
    <!-- BODY -->

    <!-- BANNER -->
    <main class="my-24 mx-5 flex flex-col m-8 mb-32 lg:mb-24">
      <div>
        <img
          id="bannerImage"
          width="300"
          alt="banner"
          class="object-cover shadow-md"
        />
      </div>

      <!-- FALTA EVENTOS AQUI -->
      <!--  -->
      <!--  -->
      <!--  -->

      <!-- GALLERY -->
      <p class="mt-8 mb-4 font-semibold text-lg">Gallery</p>
      <div id="wholeGallery" class="flex items-center gap-4 overflow-x-scroll">
        <!-- Gallery dinamically here -->
      </div>
    </main>

    <!-- FAB -->
    <div id="FABDiv"></div>

    <!-- FOOTER -->
    <div id="FooterDiv"></div>

    <script src="/components/FAB.js"></script>
    <script src="/components/Footer.js"></script>
    <script src="/components/Navbar.js"></script>
    <!-- SELECTED INDEX -->
    <script>
      const selectedItem = "Presentation";
      const navbarHTML = createNavbar(selectedItem);
      document.getElementById("navbar").innerHTML = navbarHTML;
    </script>
    <!--  -->
    <script src="/Controller/user/navbar.js"></script>
    <script type="module" src="/Utils/logout.js"></script>
    <script type="module" src="/Controller/user/presentation.js"></script>
  </body>
</html>
