<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSIW hub</title>
    <link rel="stylesheet" href="./user/userCSS/presentation.css">
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    <!-- NAVIGATION -->
    <div id="navbar"></div>
    <!-- BODY -->

    <!-- BANNER -->
    <main class="my-24 mx-5 flex flex-col m-8 mb-32 lg:mb-24">
      <div>
      
      </div>

      <!-- FALTA EVENTOS AQUI -->
      <!--  -->
      <!--  -->
      <!--  -->

      <!-- BANNER -->
      <div class="slide-container">
        <div class="gallery-text">Bem-vindo ao TSIWHub</div>
        <div class="slides">
            <img src="https://www.esmad.ipp.pt/slider-destaques/esmad-02/imageHighlight" alt="" class="active">
            <img src="https://www.esmad.ipp.pt/slider-destaques/esmad-03/imageHighlight" alt="">
            <img src="https://www.esmad.ipp.pt/slider-destaques/esmad-04/imageHighlight" alt="">
            <img src="https://www.esmad.ipp.pt/slider-destaques/esmad-05/imageHighlight" alt="">
        </div>

        <div class="buttons">
            <span class="next">&#10095;</span>
            <span class="prev">&#10094;</span>
        </div>
      </div>

      <!--EVENTOS-->
      <h1 id="eventosText">Eventos</h1>
      <div class="card-container">
          <div class="card" data-href="../View/user/events1.html">
            <h1 id="event1Title"></h1>
            <div id="event1Image"><img></div>
          </div>
          <div class="card" data-href="../View/user/events2.html">
            <h1 id="event2Title"></h1>
            <div id="event2Image"><img></div>
          </div>
          <div class="card" data-href="../View/user/events3.html">
            <h1 id="event3Title"></h1>
            <div id="event3Image"><img src="" alt=""></div>
          </div>
          <div class="card" data-href="../View/user/events4.html">
            <h1 id="event4Title"></h1>
            <div id="event4Image"><img src="" alt=""></div>
          </div>

      </div>

      <!--GALLERY-->
      <h1 id="imagensText">Imagens</h1>
      </div>
      <div class="relative w-full px-4 sm:px-10">
        <button class="hidden sm:block absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white px-4 py-2 rounded-full" onclick="scrollGallery('left')">&lt;</button>
        <div class="gallery2-container flex">
            <img src="/images/presentation/gallery/1.jpeg" alt="Image 1" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/10.jpeg" alt="Image 2" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/2.jpeg" alt="Image 3" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/3.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/4.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/5.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/6.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/7.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/8.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
            <img src="/images/presentation/gallery/9.jpeg" alt="Image 4" class="gallery2-item rounded-lg shadow-lg">
        </div>
        <button class="hidden sm:block absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white px-4 py-2 rounded-full" onclick="scrollGallery('right')">&gt;</button>
      </div>

    </main>

    <!-- FAB -->
    <div id="FABDiv"></div>

    <!-- FOOTER -->
    <div id="FooterDiv"></div>

    <script src="/components/FAB.js"></script>
    <script src="/components/Footer.js"></script>
    <script src="/components/Navbar.js"></script>
    <!-- SELECTED INDEX -->
    <script>
      const selectedItem = "Apresentação";
      const navbarHTML = createNavbar(selectedItem);
      document.getElementById("navbar").innerHTML = navbarHTML;
    </script>
    <!--  -->
    <script src="/Controller/user/navbar.js"></script>
    <script type="module" src="/Utils/logout.js"></script>
    <!-- presentation.js -->
    <script type="module" src="/Controller/user/presentation/presentation.js"></script>
    <script src="../Controller/user/presentation/gallery.js"></script>
    <script src="../Controller/user/presentation/events.js"></script>
  </body>
    
</html>
