<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Presentation</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- MOBILE MENU -->
    <button
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
      </svg>
    </button>

    <!-- MENU -->
    <aside
      id="default-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
        <ul class="space-y-2 font-medium">
          <li>
            <a
              href="#"
              class="flex items-center p-2 text-white rounded-lg bg-violet-600 group"
            >
              <span class="ms-3">Presentation</span>
            </a>
          </li>
          <li>
            <a
              href="/View/admin/study-plans.html"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <span class="flex-1 ms-3 whitespace-nowrap">Study Plans</span>
            </a>
          </li>
          <li>
            <a
              href="/View/admin/alumni.html"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <span class="flex-1 ms-3 whitespace-nowrap">Alumni</span>
            </a>
          </li>
          <li>
            <a
              href="/View/admin/escapeRoom.html"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <span class="flex-1 ms-3 whitespace-nowrap">Escape Room</span>
            </a>
          </li>
          <li onclick="logout()">
            <a
              href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 16"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"
                />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <!-- BODY -->
    <div class="p-4 sm:ml-64">
      <div class="p-4 border-2 bg-gray-100 rounded-lg">
        <!-- BANNER GROUP -->
        <div class="mb-10">
          <div class="flex justify-between items-center mb-5">
            <p class="font-medium text-lg">Banner</p>
            <label
              for="bannerUpload"
              class="inline-block px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition cursor-pointer"
              >Change</label
            >
            <input
              type="file"
              id="bannerUpload"
              class="hidden"
              accept="image/*"
            />
          </div>
          <div>
            <img
              id="bannerImage"
              class="rounded-lg shadow-md object-cover w-full h-[270px]"
              src="https://placehold.co/480x270/dddddd/cccccc"
              alt="banner image"
              width="480"
              height="270"
            />
          </div>
        </div>
        <!-- GALLERY GROUP -->
        <div>
          <div class="flex justify-between items-center mb-5">
            <p class="font-medium text-lg">Gallery</p>
            <label
              for="galleryUpload"
              class="inline-block px-4 py-2 border border-violet-700 rounded-lg text-violet-700 hover:bg-violet-600 hover:text-white transition cursor-pointer"
              >Add</label
            >
            <input
              type="file"
              id="galleryUpload"
              class="hidden"
              accept="image/*"
              multiple
            />
          </div>
          <div
            id="wholeGallery"
            class="flex items-center gap-4 overflow-x-scroll"
          >
            <!-- Gallery dinamically here -->
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="/Controller/admin/presentation.js"></script>

    <script>
      function logout() {
        window.location.href = "login.html";
      }
    </script>
  </body>
</html>
